.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    justify-content: space-between;
    height: 44px;
}
.top-nav .nav__button {
    width: 60px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    position: absolute;
    right: 5%;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #fff;
}
.header-back__button {
    cursor: pointer;
}
.empty-button {
    width: 30px;
    height: 100%;
}
.header__title {
    font-family: LotteMartDreamBold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.header-alert,
.header-shopping-cart {
    display: block;
    margin: 0px auto;
    background-position: center;
    background-size: cover;
}
