.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    justify-content: space-between;
    height: 44px;
}
.top-nav .nav__button {
    width: 60px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    position: absolute;
    right: 5%;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
.header__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
