.select__input-error::placeholder {
    color: #e44848;
}
.select__input {
    font-family: LotteMartDreamLight;
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
    width: 100%;
    height: 46px;
    padding: 16px;
    padding-right: 50px;
    margin-top: 32px;
    border-radius: 8px;
    border: solid 1px #f8f8f8;
    background-color: #f8f8f8;
}
.select__input:focus {
    border: 2px solid #ffcd4b;
    font-weight: 300;
    outline: none;
}

.search-wrap .search__button {
    position: absolute;
    background-size: cover;
    transform: translateX(-40px) translateY(2.25px);
    width: 27px;
    height: 27px;
    color: black;
    background-color: #f8f8f8;
    cursor: pointer;
}

.search-wrap {
    margin-bottom: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
