.shopping-cart-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.shopping-cart-total {
    padding: 19px 0 16px 0;
    border-bottom: 1px solid #ddd;
}
.shopping-cart-list {
    display: flex;
    flex-direction: column;
}
.shopping-cart-item {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #ddd;
}
.select-location__button {
    position: absolute;
    bottom: 65px;
    right: 16px;
    left: 16px;
    background: #ffcd4b;
    border-radius: 24px;
    padding-top: 17px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
}
