.meeting-container {
    margin-top: 24px;
    padding: 0 16px 69px 16px;
}
.meeting-status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.meeting-description {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
}
.meeting-write__button {
    position: fixed;
    bottom: 65px;
    right: 16px;
    background: #ffcd4b;
    border-radius: 100%;
    padding: 18.75px;
}
.meeting-write__button-image {
    display: block;
}
