.meeting-list-container {
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    overflow-x: auto;
}
.meeting-add-button {
    background: #ffffff;
    /* 회색_비활성화 */
    border: 2px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 9.8761px;
    min-height: 160px;
    max-height: 160px;
}
.meeting-add-button .meeting-add-button-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    padding: 0 32px;
    color: #aeaeb2;
}
