body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
textarea,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    height: 100vh;
    background-color: #f8f8f8;
}
button {
    outline-style: none;
    background-color: #fff;
    font-family: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

input,
textarea,
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}
input,
textarea {
    resize: none;
    font-family: inherit;
}
.app-container {
    /* padding: 44px 16px 0 16px; */
    padding-top: 44px;
    background: #fff;
    height: 100vh;
}
#app {
    font-family: "LotteMartDreamLight", "Roboto", sans-serif;
    text-align: center;
    color: #333;
}

@font-face {
    font-family: "LotteMartDreamMedium";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2") format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff") format("woff");
}
@font-face {
    font-family: "LotteMartDreamBold";
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2") format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff") format("woff");
}
@font-face {
    font-family: "LotteMartDreamLight";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2") format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff") format("woff");
}
