.bottom-nav {
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #424347;
}
.footer--view {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    height: 49px;
    z-index: 20;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 5px #aeaeb2;
}
.footer-btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}
.footer-btn-item {
    display: flex;
    flex-direction: column;
}
.footer-item-image {
    margin-top: 5px;
}
.footer-item-text {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: LotteMartDreamMedium;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #aeaeb2;
}
.footer-btn--active .footer-item-text {
    color: #ffd568;
}
.footer-chat-btn {
    border: 2px solid #ffcd4b;
    box-sizing: border-box;
    border-radius: 24px;
    margin: 7px 0;
    padding: 10px 16px;
    width: 80%;
}
