.home-introduce-content {
    display: flex;
    margin-top: 24px;
    padding: 0 16px;
}
.profile-image {
    width: 44px;
    height: 44px;
    background-color: #b1b1b1;
    border-radius: 100%;
    margin-right: 24px;
}
.profile-introduce-text {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.02em;
    font-family: LotteMartDreamBold;
}

.home-cart-empty {
    margin-top: 24px;
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-cart-empty-image {
    background-size: cover;
}
.home-cart-empty-text {
    font-family: LotteMartDreamLight;
    font-weight: 300;
    font-size: 14px;
    line-height: 115%;
    color: #b2b2b2;
}
